*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:"Roboto","Raleway", sans-serif;
    background-color: #FFFFFF;
    color:#434455;
    
    

}

img{
    display: block;
}



.nav-bar-top{
    width: 1128px;
    height: 72px;
    margin-top:24px;
    display: inline-flex;
    flex-direction: row;
    gap: 40px;
    
    margin-left: 156px;
    margin-top:0;

    
    
    
}


a {
    text-decoration: none;
}

.nav-bar{
    display:flex;
  gap:76px;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    padding-top: 24px;
    
    
    
}


.logo-second{
    color:#2E2F42;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-top: 24px;
    
}

ul {
    list-style-type: none;
}
.studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    
    
    
    
    
    
}


.studio:hover{
    color:#404bbf;
}
.studio:focus{
    color: #404bbf;

}

.address ul{
    font-style: normal;
    
    gap:40px;
    
   display: flex;
   

    
}



.contact{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    
        display: flex;
        
        gap:40px;

        padding-top:24px;

        

}
.contact:hover{
    color:#404bbf;
}

.contact:focus{
    color: #404bbf;
}

.container{
    width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
        justify-content: center;
        height: 600px;
}

.title-button{
    background-color: #2e2f42;
    height:600 px;
    

}

.title-button .container{
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
.title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #2e2f42;
    
}

.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
        min-width: 169px;
        border: none;
        border-radius: 4px;
        height: 56px;
   
    
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}

.random{
    width: 1128px;
    padding: 156px,0;
    margin-top:120px;
    text-align: start;
    margin-bottom:120px;
    margin-left:156px;

}

.random ul{
    display: flex;
    flex-direction: row;
    gap:24px;

}


.items{
    width: calc((100% - 72px) / 4);
    flex-basis: calc((100% - 72px) / 4);
}

.items{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.paragraph{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team{
    background-color: #f4f4fd;
    display: block;
    
    height: 732px;
    
}

.our-team .container{
   padding-left:156px;
   padding-top:120px;
   margin-right: 156px;
   padding-bottom: 120px;
}

.our-team ul{
    display:flex;
}

.title-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.job-list {
    background-color: #FFFFFF;
    
}

.job-list img{
       width: 264px;
       height: 260px;
       display: flex;
       gap:36px;
       
}

.personal{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.personal, .job{
    margin-top:32px;
    margin-bottom: 3px;
    text-align: center;
}

.job{
    margin-top:8px;
}




.job{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.Our-Portfolio .container{
    width: 1158px;
    height: 1000px;
}


.container .list-first{
    display: flex;
    gap:24px;
}


.container .list-second {
    display: flex;
    gap: 24px;
}

.Our-Portfolio .container img{
    width: 360px;
    height: 300px;
    margin bottom:
}
    


.title-first{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    margin-top: 120px;
    margin-bottom: 72px;
}

.title-second{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;

        padding-top: 32px;
        padding-bottom: 8px;
}


.p-first{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    margin-bottom:16px;
}

.finished{
    background-color: #2e2f42;
    height: 312px;
    padding:140px 1020px 100px 156px;

}

.logo{
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-third{
    color: #F4F4FD;

}

.finish-p{
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
}

.footer-container{
    width: 264px;
    height: 112px;
    
    
}

