body {
    font-family:"Roboto","Raleway", sans-serif;
    background-color: #FFFFFF;
    color:#434455;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header{
border-bottom: 1px solid #e7e9fc;
display: flex;
flex-direction: row;
}

.contanier{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

nav{
    display:flex;
    align-items: center;
}

img{
    display: block;
}

.address ul{
    display: flex;
    gap: 40px;
}


a {
    text-decoration: none;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
    margin-right: 76px;
}
.navigation{
    display: flex;
    gap: 40px;
}


.logo-second{
    color:#2E2F42;
}

ul {
    list-style-type: none;

}
.studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding: 24px 0;
    
   

}


.studio:hover{
    color:#404bbf;
}
.studio:focus{
    color: #404bbf;

}

.address{
    font-style: normal;
}

.contact{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.contact:hover{
    color:#404bbf;
}

.contact:focus{
    color: #404bbf;
}

.title-button{
    background-color: #2e2f42;
    padding: 188px 0;
}
.title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #2e2f42;
    max-width: 496px;
}

.button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}
.button:hover{
    background-color: #404BBF;
}
.button:focus{
    background-color: #404BBF;
}

.random{
    padding: 120px;
}
.visually-hidden ul{
     display:flex;
    gap: 24px;
}


.items{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.paragraph{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team{
    background-color: #f4f4fd;
    padding: 120px 0;
}

.title-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;

}  

.our-team ul{
    display: flex;
    gap: 24px;

}

.job-list {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
}

.job-text{
    padding: 32px 0;
}

.personal{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;

}

.job-text p{
    text-align: center;
}


.job{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.Our-Portfolio{
    padding: 120px 0;
}

.title-first{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.Our-Portfolio ul{
    display:flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.Our-Portfolio ul div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.title-second{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.p-first{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.finished{
    background-color: #2e2f42;
    padding: 100px 0;
}

.logo{
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.logo-third{
    color: #F4F4FD;

}

.finish-p{
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
max-width: 264px;
}

